<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Flowers Shop Ecommerce Website</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="../css/loopple/loopple.css">
    </head>
    <body>
        <!-- top nav / 로고, 페이지 이동 버튼 / 검색, 마이페이지 아이콘 / 로그인 버튼-->
        <%- include('./common/topNav.ejs')%>
    
        <!-- 상품 최근 등록된 NFT 노출 -->
        <section class="pt-6 pb-4">
            <div class="container">
                <div class="row mb-4">
                    <!-- 상품 목록 제목-->
                    <div class="col-12 text-center">
                        <h3 class="mb-5" spellcheck="false">list of NFT</h3>
                    </div>
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">
                                    <img src="https://images.unsplash.com/photo-1548460464-2a68877c7a5f?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9zZXxlbnwwfDJ8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="img-fluid border-radius-lg shadow">
                                </a>
                            </div>
    
                            <div class="card-body pt-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="text-sm">Flower</span>
                                        <h4 class="card-description font-weight-bolder text-dark mb-4">
                                            Rose
                                        </h4>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:;" class="btn btn-link text-dark p-0">
                                            <i class="fa fa-star text-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <h5 class="mb-0 font-weight-bolder">$25.40</h5>
                                    <h5 class="mb-0 opacity-4 text-sm ms-2"><strike>$29.00</strike></h5>
                                </div>
                                <a href="javascript:;" class="btn btn-outline-dark mb-0">Add to cart</a>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">
                                    <img src="https://images.unsplash.com/photo-1528475563668-e15742001b92?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3280&amp;q=80" class="img-fluid border-radius-lg shadow">
                                </a>
                            </div>
    
                            <div class="card-body pt-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="text-sm">Flower</span>
                                        <h4 class="card-description font-weight-bolder text-dark mb-4">
                                            Cactus</h4>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:;" class="btn btn-link text-dark p-0">
                                            <i class="fa fa-star text-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <h5 class="mb-0 font-weight-bolder">$19.00</h5>
                                    <h5 class="mb-0 opacity-4 text-sm ms-2"><strike>$29.00</strike></h5>
                                </div>
                                <a href="javascript:;" class="btn btn-outline-dark mb-0">Add to cart</a>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">
                                    <img src="https://images.unsplash.com/photo-1589292514550-ffa367e28682?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHR1bGlwfGVufDB8MnwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="img-fluid border-radius-lg shadow">
                                </a>
                            </div>
    
                            <div class="card-body pt-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="text-sm">Flower</span>
                                        <h4 class="card-description font-weight-bolder text-dark mb-4">
                                            Tulip</h4>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:;" class="btn btn-link text-dark p-0">
                                            <i class="fa fa-star text-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <h5 class="mb-0 font-weight-bolder">$9.90</h5>
                                    <h5 class="mb-0 opacity-4 text-sm ms-2"><strike>$15.00</strike></h5>
                                </div>
                                <a href="javascript:;" class="btn btn-outline-dark mb-0">Add to cart</a>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">
                                    <img src="https://images.unsplash.com/photo-1502977249166-824b3a8a4d6d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1180&amp;q=80" class="img-fluid border-radius-lg shadow">
                                </a>
                            </div>
    
                            <div class="card-body pt-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="text-sm">Flower</span>
                                        <h4 class="card-description font-weight-bolder text-dark mb-4">
                                            Lily</h4>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:;" class="btn btn-link text-dark p-0">
                                            <i class="fa fa-star text-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <h5 class="mb-0 font-weight-bolder">$39.20</h5>
                                    <h5 class="mb-0 opacity-4 text-sm ms-2"><strike>$59.00</strike></h5>
                                </div>
                                <a href="javascript:;" class="btn btn-outline-dark mb-0">Add to cart</a>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer 관련 페이지 / 각종 커뮤니티 아이콘  / 회사정보 / 페이지 / 팀 구성 / 자원 정보 등 -->
        <%- include('./common/footer')%>
        <!-- 하단 배지 / 필요없으면 없애기 -->
        <div class="loopple-badge">Made with
            <a href="#">
                <img src="https://www.loopple.com/img/loopple-logo.png" class="loopple-ml-1" style="width:55px">
            </a>
        </div>
    </body>    
</html>