<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h6 class="text-uppercase mb-2">BSM</h6>
                <p class="mb-4 pb-2">
                    The next generation of indie music.
                </p>
                <a href="javascript:;" class="text-secondary me-xl-4 me-3">
                    <span class="text-lg fab fa-facebook" aria-hidden="true"></span>
                </a>
                <a href="javascript:;" class="text-secondary me-xl-4 me-3">
                    <span class="text-lg fab fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="javascript:;" class="text-secondary me-xl-4 me-3">
                    <span class="text-lg fab fa-instagram" aria-hidden="true"></span>
                </a>
                <a href="javascript:;" class="text-secondary me-xl-4 me-3">
                    <span class="text-lg fab fa-pinterest" aria-hidden="true"></span>
                </a>
                <a href="javascript:;" class="text-secondary me-xl-4 me-3">
                    <span class="text-lg fab fa-github" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-2 col-6 ms-lg-auto mb-md-0 mb-4">
                <h6 class="text-sm">About Us</h6>
                <ul class="flex-column ms-n3 nav">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="javascript:;">
                            Press
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="javascript:;">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 col-6 mb-md-0 mb-4">
                <h6 class="text-sm">Pages</h6>
                <ul class="flex-column ms-n3 nav">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/contact">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 col-6 mb-md-0 mb-4">
                <h6 class="text-sm">Legal</h6>
                <ul class="flex-column ms-n3 nav">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="javascript:;">
                            Terms
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 col-6 mb-md-0 mb-4">
                <h6 class="text-sm">Services</h6>
                <ul class="flex-column ms-n3 nav">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="javascript:;">
                            Service
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="horizontal dark mt-lg-5 mt-4 mb-sm-4 mb-1">
        <div class="row">
            <div class="col-8 mx-lg-auto text-lg-center">
                <p class="text-sm text-secondary">
                    Copyright © 2022 Soft &amp; BSM by KABC.
                </p>
            </div>
        </div>
    </div>
</footer>